/*Styles for BAW more HTML demo*/
body{
 background-color: black;
 
}

header{
   background-color:#ffff1d;
   /* -webkit-transform: rotate(90deg);*/
   
   position:fixed;
   top:2em;
   display: flex;
   flex-wrap: wrap;
   justfy-content: space-between;
   border-radius: 20px;
   
 }
  img {
/* These properties make the image responsive to the viewport */
    width: 100%;

    max-width: 1000px;
   /* end responsive image properties*/
   display: block;
   margin: auto;
   margin-bottom: 5em;
   margin-top: 5em;
   border-radius: 20px;
 } 

h1 {
  color: white;
  font-family: 'Roboto', sans-serif;
  position:absolute;
  font-size:3em;  
  margin-left:5em;
  text-transform: uppercase;
  text-decoration: none;
 }


 nav li{
    list-style-type: none;
    display: inline-block;
  }
  nav a {
     font-family: 'Roboto', sans-serif;
     text-decoration:none;
     margin: 1em;
     padding:1em;
     width: 3em;
 }
 nav a:hover{
    background-color: #06ff8b;
    border-radius: 20px; 
  
 }

 
p1 {
     color:red;
     text-align: justify;
     font-size: 0.8em;
     font-family: 'Roboto', sans-serif;
     text-transform: capitalize;
     text-indent: 1em; 
     margin-right:6em;   
     font-weight:bold;
     position:relative;
     margin-top:5em;
}
p2{
     color:red;
     text-align: justify;
     font-size: 0.8em;
     font-family: 'Roboto', sans-serif;
     text-transform: capitalize;
     text-indent: 1em; 
     margin-right: 6em; 
     font-weight:bold ; 
}

p3{
     color:red;
     text-align:justify;
     font-size: 1em;
     font-family: 'Roboto', sans-serif;
     text-decoration: none;
     font-weight:bold ;
}


 div { 
      padding-top: 5em;
      position:absolute;
      display: flex;  
      width: 500px; 
      height:500px; 
      border-radius: 20px; 
      background-color:none;
        
 } 
 
 
 .aboutClass {
   position:absolute;
   display: flex;
   flex-wrap: wrap;
   justfy-content: space-between;
 	
 	padding-top: 10em;
 	right:4em;
 	margin-left: 60em;	
 }

/* 
.image2{
display: block;
   margin: auto;
   margin-bottom: 5em;
   margin-top: 5em;
   border-radius: 20px;
}
.image3{
position: fixed;
margin-left: 26em;
padding-top: 4em;
width: 22.5%;
border-radius: 20px;
}
 */
.image4{
    width: 100%;
    max-width: 3000px;
    display: flex;
    margin: 0;
    border-radius: 20px;
    position: flex;
    
}
footer{
   background-color: lightgreen; 
   position:fixed;
   bottom: 0;
   right: 1em;
   display: flex;
   border-radius: 20px;
}

.social{
  width: 1.5em;
  border-left:0em;
  border-bottom:0em;
  display: flex;
  } 

